@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100vh; 
    overflow: hidden;
}

/* Starting Page */

.ofotccnText{
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-73deg);
    white-space: nowrap;
    font-size: large;
    cursor: pointer;
}

.pobawfText{
    position: absolute;
    top: 63%;
    left: 12%;
    transform: translate(-50%, -50%) rotate(-65deg);
    white-space: nowrap;
    font-size: large;
    cursor: pointer;
}

/* Starting Page */


/* Perks Page */

* {
    padding: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#zoom {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform-origin: 0 0;
    transform: scale(1) translate(0, 0);
}

div#zoom > img {
    width: 100%;
    height: 100%;
}

.mapPoint {
    position: fixed;
    z-index: 2;
    width: 1%;
}


/* Perks Page */


.backButton {
    border-radius: 10px;
    left: 1%;
    top: 5%;
    position: fixed;
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
  }

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    font-size: x-large;
  }

/* Title  Page */
.title {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.titleText {
    color: rgb(255, 255, 255);
    font-size: xx-large;
}
/* Title  Page */



/* Outside  Page */
.outside {
    background-image: url('images/outside.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.outsideText {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    position: absolute;
    top: 5%;
}
/* Outside  Page */



/* Main Room Page */
.mainRoom {
    background-image: url('images/mainRoom.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.pillButton {
    border-radius: 10px;
    left: 53%;
    position: fixed;
    
}

.lobotomyButton {
    border-radius: 10px;
    left: 28%;
    position: fixed;
}

.therapyButton {
    border-radius: 10px;
    left: 60%;
    position: fixed;
}

.codeButton {
    border-radius: 10px;
    left: 20%;
    position: fixed;
}

/* Main Room Page */



/* Pill Room Page */

.pillRoom {
    background-image: url('images/pillHandout.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.hand {
    width: 250px;
    position: absolute;
    top: 0;
  }

.pills {
    width: 50px;
    position: absolute;
    top: 80%;
}

.handText {
    position: absolute;
    top: 0;
    color: rgb(0, 0, 0);
}

/* Pill Room Page */



/* Therapy Room Page */

.therapyRoom {
    background-image: url('images/therapy.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}


.characterName {
    position: absolute;
    top: 40%;
    color: rgb(0, 0, 0);
    font-size: x-large;
}

.character {
    position: absolute;
    top: 50%;
    width: 100px;

}

/* Therapy Room Page */



/* Lobotomy Room Page */

.lobotomyRoom {
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

/* Lobotomy Room Page */
